<div class = "container">

  <div class = "row">

    <div class = "col s6">
      <ul class = "collection">
        <li class = "collection-item green lighten-1">Item 1</li>
        <li class = "collection-item green lighten-2">Item 2</li>
        <li class = "collection-item green lighten-3">Item 3</li>
      </ul>
    </div>
    <div class = "col s6">
            <ul class = "collection">
        <li class = "collection-item red lighten-1">Item 4</li>
        <li class = "collection-item red lighten-2">Item 5</li>
        <li class = "collection-item red lighten-3">Item 6</li>
      </ul>
    </div>
  </div>
</div>

